
body {
    background-color: silver;
    color: #000;
    font-family: Arial, sans-serif; 
}
h1 {
    font-style: italic;
    font-size: 3em;
    text-align: center;
}
h2 {
    font-size: 2em;
    color: green;
    text-decoration: underline;
}
blockquote {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}
dfn {
    font-weight: bold;
}

p {
    text-indent: 2em;
    text-align: justify;
}
table {
      border-collapse: collapse;
    }
    th, td {
      padding: 0.5em;
      border: 1px solid black;
      text-align: right;
    }
    caption {
      caption-side: bottom;
      font-size: 0.7em;
      font-style: italic;
